<div
  class="
    table-wrapper-scroll-y
    my-custom-scrollbar
    animate__animated animate__fadeIn
  "
>
  <table class="table" style="height: 300px">
    <thead class="thead-dark bg-dark">
      <tr>
        <th scope="col" class="text-white">#</th>
        <th scope="col" class="text-white">Tipo</th>
        <th scope="col" class="text-white">Cantidad</th>
        <th scope="col" class="text-white text-center">Borrar</th>
        <th scope="col" class="text-white text-center">Editar</th>
        <th scope="col" class="text-white text-center">Info</th>
      </tr>
    </thead>
    <tbody tbo>
      <tr *ngFor="let cloth of resultados">
        <th scope="row">{{ cloth._id }}</th>
        <td>{{ cloth.tipo }}</td>
        <td>{{ cloth.cantidad | number }}</td>
        <td class="text-center">
          <Button
            type="button"
            (click)="
              openConfirmModal(
                $event,
                true,
                'Seguro que quiere eliminar el producto'
              )
            "
            class="btn btn-sm btn-primary text-light btn-success mx-auto"
            >X</Button
          >
        </td>
        <td class="text-center">
          <Button
            type="button"
            (click)="editCloth($event)"
            class="btn btn-sm btn-primary text-light btn-success"
            >E</Button
          >
        </td>
        <td class="text-center">
          <Button
            [routerLink]="['/clothing/cloth-info', cloth._id]"
            type="button"
            (click)="goToClothInfo($event)"
            class="btn btn-sm btn-primary text-light btn-success"
            >...</Button
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<Button
  type="button"
  routerLink="/clothing/cloth-form"
  class="mt-3 btn btn-sm btn-primary text-ligh btn-success"
  >Agregar nuevo</Button
>

<hr />

<app-message
  *ngIf="messageState[0]"
  [message]="messageState[3]"
  [success]="messageState[1]"
  [warning]="messageState[2]"
></app-message>
