<div
  class="d-flex justify-content-center"
  *ngIf="errorType === '404'; else error503"
>
  <div><img src="../../assets/error.png" alt="" /></div>
  <p class="my-auto text-success">
    <span class="text-dark">Error {{ errorType }}:</span> Página no encontrada.
  </p>
</div>

<ng-template #error503>
  <div class="d-flex justify-content-center">
    <div><img src="../../assets/error.png" alt="" /></div>

    <p class="my-auto text-success">
      <span class="text-dark">Error {{ errorType }}:</span> Servidor no
      disponible.
    </p>
  </div>
</ng-template>
