<div class="modal-header bg-dark">
  <h5 class="modal-title text-light">{{ title }}</h5>
</div>
<div class="modal-body bg-dark text-light">
  {{ message }}
</div>
<div class="modal-footer bg-dark">
  <button
    *ngIf="confirmType"
    type="button"
    class="btn btn-sm btn-primary btn-block mt-3 btn-success text-light"
    (click)="decline()"
  >
    {{ btnCancelText }}
  </button>
  <button
    type="button "
    class="btn btn-sm btn-primary btn-block mt-3 btn-success text-light"
    (click)="accept()"
  >
    {{ btnOkText }}
  </button>
</div>
