.app {
  display: flex;
  background-color: #f7f7f9;
  height: 80vh;
  margin-top: -100px;
}
.cont {
  height: 100vh;
  width: 100vw;
}

.img {
  height: 35vh;
  width: 100vw;
  background-image: url(../assets/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}
