<div class="cont d-flex flex-column align-items-end">
  <div class="img"></div>
  <div class="row container mx-auto rounded border-dark app">
    <div class="col-3 col-md-3">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="col-9 col-md-9 my-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
