<div
  *ngIf="resLoaded"
  class="
    card
    justify-content-center
    card
    mx-auto
    animate__animated animate__fadeIn
  "
  style="width: 24rem"
>
  <div [ngSwitch]="cloth.tipo">
    <img
      *ngSwitchCase="'PANTALON'"
      class="card-img-top"
      src="../../../assets/pantalon.jpg"
    />
    <img
      *ngSwitchCase="'CAMPERA'"
      class="card-img-top"
      src="../../../assets/campera.jpg"
    />
    <img
      *ngSwitchCase="'BUZO'"
      class="card-img-top"
      src="../../../assets/buzo.jpg"
    />
    <img
      *ngSwitchCase="'REMERA'"
      class="card-img-top"
      src="../../../assets/remera.jpg"
    />
  </div>
  <div class="card-body">
    <ul class="d-flex flex-column justify-content-start">
      <li class=""><span>ID:</span> {{ cloth._id }}</li>
      <li class=""><span>Tipo:</span> {{ cloth.tipo }}</li>
      <li class=""><span>Stock:</span> {{ cloth.cantidad | number }}</li>
      <li class=""><span>Precio:</span> {{ cloth.precio | currency }}</li>
      <p class=""><span>Descripcion:</span> {{ cloth.descripcion }}</p>
    </ul>
  </div>
</div>

<Button
  type="button"
  (click)="goToClothList()"
  class="btn btn-sm btn-primary text-ligh btn-success mt-5"
  >Volver</Button
>
<span></span>
