<div
  class="
    text-center
    justify-content-center
    card
    mx-auto
    animate__animated animate__fadeIn
  "
  style="width: 60%; height: 26rem"
>
  <form
    class="form-signin col-auto mx-auto"
    [formGroup]="loginForm"
    (ngSubmit)="doSubmit()"
  >
    <div>
      <label for="inputUsername" class="sr-only mb-1">Nombre</label>
      <input
        class="form-control"
        id="inputUsername"
        formControlName="username"
        type="text"
        [ngClass]="{ 'is-invalid': usernameInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidUsernameFeedback }}
      </div>
    </div>

    <div>
      <label for="inputUserLastname" class="sr-only mb-1">Apellido</label>
      <input
        class="form-control"
        id="inputLastname"
        formControlName="lastname"
        type="lastname"
        [ngClass]="{ 'is-invalid': lastnameInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidLastnameFeedback }}
      </div>
    </div>

    <div>
      <label for="inputEmail" class="sr-only mb-1">Email</label>
      <input
        class="form-control"
        id="inputEmail"
        formControlName="email"
        type="email"
        [ngClass]="{ 'is-invalid': emailInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidEmailFeedback }}
      </div>
    </div>

    <div>
      <label for="inputPassword" class="sr-only mb-1">Contraseña</label>
      <input
        class="form-control"
        id="inputPassword"
        formControlName="password"
        type="password"
        [ngClass]="{ 'is-invalid': passInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidPassFeedback }}
      </div>
    </div>

    <button
      class="btn btn-sm btn-primary btn-block mt-3 btn-success"
      type="submit"
    >
      Registrar
    </button>
  </form>
</div>

<app-message
  *ngIf="this.error === 500"
  [message]="'El email ya esta en uso'"
  [warning]="true"
></app-message>
