<div class="message-box mx-auto animate__animated animate__fadeInDown">
  <div
    [ngClass]="{
      'alert-primary': true,
      'alert-success': success,
      'alert-danger': warning,
      'alert-dismissible': true,
      alert: true,
      hide: hide
    }"
    role="alert"
    id="liveAlert"
    class="alert mt-3 d-flex align-content-center"
  >
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
