<div
  class="
    text-center
    justify-content-center
    card
    mx-auto
    animate__animated animate__fadeIn
  "
  style="width: 60%; height: 34rem"
>
  <form
    class="form-signin col-auto mx-auto"
    [formGroup]="clothForm"
    (ngSubmit)="doSubmit()"
  >
    <div class="form-group">
      <label for="inputTipo" class="sr-only mb-1">Tipo</label>
      <select
        class="form-control"
        id="inputTipo"
        formControlName="tipo"
        [ngClass]="{ 'is-invalid': tipoInvalid }"
        (blur)="validations($event)"
      >
        <option>PANTALON</option>
        <option>REMERA</option>
        <option>BUZO</option>
        <option>CAMPERA</option>
      </select>
      <div class="invalid-feedback">
        {{ invalidTipoFeedback }}
      </div>
    </div>

    <div>
      <label for="inputCantidad" class="sr-only mb-1">Cantidad</label>
      <input
        class="form-control"
        id="inputCantidad"
        formControlName="cantidad"
        type="number"
        min="0"
        [ngClass]="{ 'is-invalid': cantidadInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidCantidadFeedback }}
      </div>
    </div>

    <div>
      <label for="inputDescripcion" class="sr-only mb-1">Descripcion</label>
      <textarea
        class="form-control"
        id="inputDescripcion"
        formControlName="descripcion"
        type="text"
        rows="4"
        [ngClass]="{ 'is-invalid': descrInvalid }"
        (blur)="validations($event)"
      ></textarea>
      <div class="invalid-feedback">
        {{ invalidDescrFeedback }}
      </div>
    </div>

    <div>
      <label for="inputPrecio" class="sr-only mb-1">Precio</label>
      <input
        class="form-control"
        id="inputPrecio"
        formControlName="precio"
        type="number"
        min="0"
        [ngClass]="{ 'is-invalid': precioInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidPrecioFeedback }}
      </div>
    </div>

    <button
      class="btn btn-sm btn-primary btn-block mt-3 btn-success"
      type="submit"
    >
      Guardar
    </button>
  </form>
</div>
