.hide {
  display: none;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #247434;
  color: #fff !important;
}

.btn-primary,
.btn-primary:hover {
  background-color: #247434 !important;
  border-color: #247434 !important;
  transition: 0.5s;
}

.btn-primary:hover {
  opacity: 0.7;
}
label {
  font-weight: bold;
  color: #247434 !important;
}

textarea {
  resize: none !important;
}

.table {
  overflow: scroll !important;
}

.form-control:focus {
  border-color: #ffffffc2 !important;
  box-shadow: 0 0 0 0.25rem #212529d5 !important;
}

:root {
  --animate-duration: 900ms;
  --animate-delay: 0.5s;
}
