<ng-container class="container">
  <div
    class="
      text-center
      d-flex
      justify-content-center
      card
      mx-auto
      animate__animated animate__fadeIn
    "
    style="width: 100%; height: 26rem"
  >
    <h1 class="text-center text-dark">
      ¡ Bienvenido <span class="text-success text-uppercase">{{ name }}</span
      >!
    </h1>
    <br />
    <br />

    <a
      *ngIf="!isLogged"
      routerLink="/login/signin"
      class="btn btn-sm btn-primary btn-success col-2 mx-auto"
      >Iniciar sesion</a
    >
  </div>
</ng-container>
