<div
  class="
    text-center
    justify-content-center
    card
    mx-auto
    animate__animated animate__fadeIn
  "
  style="width: 60%; height: 26rem"
>
  <form
    class="form-signin col-lg-auto mx-auto"
    [formGroup]="loginForm"
    (ngSubmit)="doSubmit()"
  >
    <div>
      <label for="inputEmail" class="sr-only mb-1">Email</label>
      <input
        class="form-control"
        id="inputEmail"
        formControlName="email"
        type="text"
        [ngClass]="{ 'is-invalid': emailInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidEmailFeedback }}
      </div>
    </div>

    <div>
      <label for="inputPassword" class="sr-only mb-1">Contraseña</label>
      <input
        class="form-control"
        id="inputPassword"
        formControlName="password"
        type="password"
        [ngClass]="{ 'is-invalid': passInvalid }"
        (blur)="validations($event)"
      />
      <div class="invalid-feedback">
        {{ invalidPassFeedback }}
      </div>
    </div>

    <button
      class="btn btn-sm btn-primary btn-block mt-3 btn-success"
      type="submit"
    >
      Entrar
    </button>
  </form>
</div>

<app-message
  *ngIf="userExists"
  [message]="'El email o contraseña no valido/o no existe'"
  [warning]="true"
></app-message>

<app-message
  *ngIf="messageStateFromSiginup"
  [message]="'Usuario creado correctamente'"
  [success]="true"
></app-message>
