<div
  class="d-flex flex-column mx-auto p-3 bg-dark"
  style="width: 80%; height: 100%"
  *ngIf="!isLogged; else logged"
>
  <a
    class="
      d-flex
      flex-row
      justify-content-center
      link-light
      text-decoration-none
    "
    style="gap: 5px"
    routerLink="/"
  >
    <h1 class="text-uppercase fs-2 textTitle">Ayi</h1>
    <p class="pt-3 text-uppercase">Final Angular</p>
  </a>
  <hr />
  <div
    class="d-flex flex-column justify-content-end"
    style="width: 100%; height: 92%"
  >
    <ul class="nav nav-pills d-flex flex-column justify-content-center">
      <hr />
      <li class="nav-item active">
        <a
          class="nav-link link-light"
          routerLink="login/signup"
          routerLinkActive="active"
          >Crear cuenta
        </a>
      </li>
      <li class="nav-item active">
        <a
          class="nav-link link-light"
          routerLink="login/signin"
          routerLinkActive="active"
        >
          Iniciar sesión
        </a>
      </li>
    </ul>
  </div>
  <hr />
</div>

<ng-template #logged>
  <div
    class="d-flex flex-column mx-auto p-3 bg-dark"
    style="width: 80%; height: 100%"
  >
    <a
      class="
        d-flex
        flex-row
        justify-content-center
        link-light
        text-decoration-none
      "
      routerLink="/"
      style="gap: 5px"
    >
      <h1 class="text-uppercase fs-2 textTitle">Ayi</h1>
      <p class="pt-3 text-uppercase">Final Angular</p>
    </a>
    <hr />
    <div
      class="d-flex flex-column justify-content-end"
      style="width: 100%; height: 92%"
    >
      <ul class="nav nav-pills d-flex flex-column justify-content-center">
        <hr />
        <li class="nav-item active">
          <a
            class="nav-link link-light"
            routerLinkActive="active"
            (click)="openWarningModal(false, 'Guarda antes de salir')"
            >Ropa
          </a>
        </li>
        <li class="nav-item active">
          <a
            class="nav-link link-light"
            (click)="
              openConfirmModal(true, 'Estas seguro que quieres cerrar sesion?')
            "
          >
            Salir
          </a>
        </li>
      </ul>
    </div>
    <hr />
  </div>
</ng-template>
